/* ---- Angular Material Links for animations an icons */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  //dark #11101d
  --main-theme-dark: #e0dbe6;
  --main-theme-font: #42038a;
  --main-theme-light: #42038a;

  --main-theme-nav: #42038a;
  --sec-theme-nav: #e0dbe6;
  --fail-color: rgb(120, 6, 58)
    linear-gradient(
      90deg,
      rgba(120, 6, 58, 1) 0%,
      rgba(148, 3, 35, 1) 35%,
      rgba(181, 3, 63, 1) 100%
    );
  --success-color: rgb(6, 111, 4)
    linear-gradient(
      90deg,
      rgba(6, 111, 4, 1) 0%,
      rgba(2, 154, 7, 1) 35%,
      rgba(8, 154, 39, 1) 100%
    );
  --warn-color: rgb(170, 105, 2)
    linear-gradient(
      90deg,
      rgba(170, 105, 2) 0%,
      rgb(212, 135, 11) 35%,
      rgb(221, 143, 18) 100%
    );
  --main-font: "Poppins", sans-serif;
}

* {
  font-family: var(--main-font);
}

.red-snackbar {
  background: var(--fail-color);
  color: white;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.success-snackbar {
  background: var(--success-color);
  color: white;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.warn-snackbar {
  background: var(--warn-color);
  color: white;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.gradientRed {
  mat-dialog-container {
    background: var(--fail-color);
    color: #ffffff;
  }
}

.gradientGreen {
  mat-dialog-container {
    background: var(--success-color);
    color: #ffffff;
  }
}

.marg {
  margin-top: 10px;
}

.imgsize {
  width: 70px;
  height: 70px;
}
