p {
    font-family: Lato;
}

.contChart {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;
}
button {
    height: 100px;
    font-size: 200%;
}
