table {
  min-width: 500px;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: center;

  h3 {
    font-size: 140%;
  }

  button {
    width: 120px;
    height: 35px;
  }
}

.charts {
  margin-right: 10rem;
  height: auto;
}

.range {
  width: 300px;
}
