<div class="contChart">
    <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [colors]="donutColors"
        (chartClick)="openDialog($event)"
    >
    </canvas>
</div>

<button
    mat-flat-button
    color="primary"
    type="submit"
    style="background-color: var(--main-theme-color)"
    (click)="back()"
>
    Volver
</button>
