.result-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  max-height: 400px;
}

button {
  margin: auto;
  display: block;
}

.selc {
  width: 250px;
}

::ng-deep .mat-form-field {
  width: 300px;
}
