<ion-header>
  <ion-toolbar>
    <ion-title>ENCUESTAS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class ="cuerpo">
 
  <div class="contCanvas">
    <label class="label">¿Qué le hizo sentir más a gusto?</label>
    <canvas id="myChart" style="height:40vh; width:80vw"></canvas>
  </div>
  
  <div class="contCanvas" >
    <label class="label">¿Cuál es su edad?</label>
    <canvas id="myChart2" style="height:40vh; width:80vw"></canvas>
  </div>

  <div class="contCanvas" >
    <label class="label">Nos recomendaría para...</label>
    <canvas id="myChart3" style="height:40vh; width:80vw"></canvas>
  </div>

  <div class="contCanvas" >
    <label class="label">Protocolo de limpieza!</label>
    <canvas id="myChart4" style="height:40vh; width:80vw"></canvas>
  </div>
  
  
</ion-content>
<ion-footer class="ion-footer">

  <ion-toolbar class="footer-toolbar">

    <ion-button class="Encuesta" (click)="volver()">VOLVER</ion-button>
   
  </ion-toolbar>


</ion-footer>

  

  