<body>
    <img src="assets/images/me.png" alt="imageProfile" />

    <ul>
        <li><b>Nombre:</b> Mauricio</li>
        <li><b>Apellido:</b> Dellagiovanna</li>
        <li><b>Edad:</b> 26 años</li>
        <li><b>Legajo:</b> 109466</li>
    </ul>

    <main>
        <h1>Sala de Juegos</h1>
        <h3>Ninja</h3>
        <p>
            Ninja es un juego donde enemigos intentaran herirte.
            <br />
            Aqui pondras en practica tu entrenamiento! Debes esquivar a todos
            los enemigos que vengan hacia ti! <br />
            Controles: tecla <strong>P</strong> para iniciar el juego y tecla
            <strong>Espacio</strong> para saltar!
        </p>
    </main>
</body>
