<body class="body">
  <form class="shadow">
    <div class="messageContainer">
      <h3>ALTA ADMIN</h3>
    </div>
    <mat-form-field class="inputField">

      <mat-label>@correo</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="mail"

        name="usernameForm"
        required
      />
    </mat-form-field>
    <mat-form-field class="inputField">

      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="name"

        name="usernameForm"
        required
      />
    </mat-form-field>
    <mat-form-field class="inputField">

      <mat-label>Apellido</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="lastname"

        name="usernameForm"
        required
      />
    </mat-form-field>
    <mat-form-field class="inputField">

      <mat-label>DNI</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="dni"

        name="usernameForm"
        required
      />
    </mat-form-field>


    <mat-form-field class="inputField">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        name="passwordForm"
        required
      />
    </mat-form-field>

    <div class="messageContainer">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        style="background-color: #aa330f"
        (click)="submitRequest()"
      >
        Enviar
      </button>
    </div>
    <a [routerLink]="['/home']">Salir</a>
  </form>
</body>