$background-color-darkmode: var(--main-theme-color);
$font-color: #646262;
$title-color: #646262;

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

body {
    background-color: $background-color-darkmode;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 30%;
    width: 350px;
    align-self: center;
    filter: drop-shadow(10px, 10px, 10px);
}

h3 {
    font-weight: bold;
    font-size: 130%;
    color: $title-color;
}

p {
    color: $title-color;
}

input {
    height: 25px;
    width: 270px;
    background-color: #f8f5e5;
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    margin: 0 auto;
    width: 275px;
    color: $font-color;
}

mat-label {
    color: $font-color;
}

button {
    width: 150px;
    color: #f5f2ef;
}

.shadow {
    background-color: #f8f5e5;
    height: 450px;
    -moz-box-shadow: 0px 0px 5px 6px #160230;
    -webkit-box-shadow: 0px 0px 5px 6px #160230;
    box-shadow: 5px 5px 5px 6px #160230;
}

a {
    text-decoration: none;
    color: #646464;
    font-size: 85%;
    margin: 0 auto;
}
